<div class="container">
  <h1>Our Pricing</h1>
</div>
<section class=" pricing-plans ">

  <div class="pricing-card basic">
    <div class="heading">
      <h4>BASIC</h4>
      <p>for Beginners</p>
    </div>
    <p class="price">
      ₹200
      <sub>/month</sub>
    </p>
    <ul class="features">
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
    </ul>
    <button class="cta-btn">SELECT</button>
  </div>

  <div class="pricing-card standard">
    <div class="heading">
      <h4>STANDARD</h4>
      <p>for Experts</p>
    </div>
    <p class="price">
      ₹700
      <sub>/month</sub>
    </p>
    <ul class="features">
      <li>
        <i class="fa-solid fa-check"></i>
       <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-xmark"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
    </ul>
    <button class="cta-btn">SELECT</button>
  </div>
  <div class="pricing-card premium">
    <div class="heading">
      <h4>PREMIUM</h4>
      <p>for Pro Body builders</p>
    </div>
    <p class="price">
      ₹3000
      <sub>/month</sub>
    </p>
    <ul class="features">
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
      <li>
        <i class="fa-solid fa-check"></i>
        <strong>Lorem ipsum dolor</strong>
      </li>
    </ul>
    <button class="cta-btn">SELECT</button>
  </div>
</section>
