/* Toolbar styles */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: transparent;
}

/* Logo styles */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.logo img {
  width: 10rem;
  height: auto;
}
.active {
  background-color: var(--bg-secondary);
}
/* Desktop Links (hidden on small screens) */
.desktop-links {
  display: flex;
  gap: 1.2rem;
}

.desktop-links a {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}

/* Menu Icon (hidden on larger screens) */
.menu-icon {
  display: none;
}

/* Mobile Menu (hidden by default) */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #303030;
  padding: 16px;
  position: absolute;
  top: 64px; /* Below the toolbar */
  right: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mobile-menu a {
  text-decoration: none;
  padding: 8px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}
.mat-mdc-button-base.mat-mdc-button-base.mat-unthemed:hover {
  background-color: var(--bg-primary);
  font-size: 1.2rem;
}
/* Mobile Menu Open State */
.mobile-menu.open {
  display: flex;
}

/* Responsive Styles */
@media (max-width: 959px) {
  .desktop-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
