<div class="container">
  <mat-toolbar class="toolbar">
    <!-- Logo -->
    <div class="logo"><img src="img/wft.png" /></div>

    <!-- Desktop Links -->
    <nav class="nav-menu">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li>
          <a routerLink="/bmi" routerLinkActive="active">BMI Calculator</a>
        </li>
        <li>
          <a routerLink="/ourteam" routerLinkActive="active">Our Team</a>
        </li>
        <li>
          <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
        </li>
        <li>
          <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </nav>

    <!-- Mobile Menu Icon -->
    <button mat-icon-button class="menu-icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</div>

<!-- Mobile Menu -->
<nav class="mobile-menu" [class.open]="menuOpen">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">Services</a>
    </li>
    <li>
      <a routerLink="/bmi" routerLinkActive="active">BMI Calculator</a>
    </li>
    <li>
      <a routerLink="/ourteam" routerLinkActive="active">Our Team</a>
    </li>
    <li>
      <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
    </li>
    <li>
      <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
