/* Toolbar styles */
.toolbar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  background-color: transparent;
}

/* Logo styles */

.logo img {
  width: 10rem;
  height: auto;
}

/* Desktop Links (hidden on small screens) */
.active {
  color: var(--bg-primary) !important;
}
/* Menu Icon (hidden on larger screens) */
.menu-icon {
  display: none;
}
.nav-menu,
.mobile-menu {
  text-align: center;
}
.nav-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 3.2rem;
  position: relative;
  z-index: 1;
}
.nav-menu ul li:last-child {
  margin-right: 0;
}

.nav-menu ul li:hover > a,
.mobile-menu ul li:hover > a {
  color: var(--bg-primary);
}

.nav-menu ul li:hover > a:after {
  opacity: 1;
}

.nav-menu ul li a,
.mobile-menu ul li a {
  color: var(--text-color);
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  padding: 10px 0px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-menu ul li a:after,
.mobile-menu ul li a:after {
  position: absolute;
  left: 0;
  top: 22px;
  height: 1px;
  width: 100%;
  background: var(--bg-primary);
  content: "";
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* Mobile Menu (hidden by default) */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: 1.6rem;
  position: absolute;
  top: 6.4rem; /* Below the toolbar */
  right: 0;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.mobile-menu a {
  text-decoration: none;
  padding: 8px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text-color);
}

/* Mobile Menu Open State */
.mobile-menu.open {
  display: flex;
}

/* Responsive Styles */
@media (max-width: 959px) {
  .nav-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
