<div class="container ">
  <!-- First Row -->
  <div class="row">
    <div class="col-12 col-md-6 img-section animate__animated animate__slideInLeft">
      <img src="img/man-women-3.png" />
    </div>
    <div class="col-12 col-md-6 text-section animate__animated animate__slideInRight">
      <p>About Us</p>
    </div>
  </div>
<!-- First Row Ends... -->
 <div class="row mt-3">
  <div class="col-12 why-section">
    <h6>Why Choose Us?</h6>
    <h3>Push your limits forward</h3>
  </div>

  <div class="col-12 col-md-3 modern-equipment">
    <p><i class="fa-solid fa-screwdriver-wrench icon"></i></p>
    <h2>Modern Equipment</h2>
    <div class="modern-equipment-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur eligendi.
    </div>
  </div>
  <div class="col-12 col-md-3 modern-equipment">
    <p><i class="fa-brands fa-apple icon"></i></p>
    <h2>Healthy Nutrition plan</h2>
    <div class="modern-equipment-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur eligendi.
    </div>
  </div>
  <div class="col-12 col-md-3 modern-equipment">
    <p><i class="fa-solid fa-user-tie icon"></i></p>
    <h2>Professional training plan</h2>
    <div class="modern-equipment-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur eligendi.
    </div>
  </div>
  <div class="col-12 col-md-3 modern-equipment">
    <p><i class="fa-solid fa-heart-pulse icon"></i></p>
    <h2>Unique to your needs</h2>
    <div class="modern-equipment-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur eligendi.
    </div>
  </div>
 </div>

</div>

