<div class="container">
  <!-- First Row -->
  <div class="row">
    <div
      class="col-12 col-md-6 img-section animate__animated animate__slideInLeft"
    >
      <img src="img/man-women-3.png" />
    </div>
    <div
      class="col-12 col-md-6 text-section animate__animated animate__slideInRight"
    >
      <p>About Us</p>
    </div>
  </div>
  <!-- First Row Ends... -->
  <!-- Row 2 Starts : Why Choose-->
  <div class="row mt-3">
    <div class="col-12 why-section">
      <h6>Why Choose Us?</h6>
      <h3>Push your limits forward</h3>
    </div>

    <div class="row col-12 col-md-3 modern-equipment" data-aos="flip-left">
      <p><i class="fa-solid fa-screwdriver-wrench icon"></i></p>
      <h2>Modern Equipment</h2>
      <div class="modern-equipment-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio
        dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque
        ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur
        eligendi.
      </div>
    </div>
    <div
      class="col-12 col-md-3 modern-equipment"
      data-aos="flip-left"
      data-aos-delay="500"
    >
      <p><i class="fa-brands fa-apple icon"></i></p>
      <h2>Healthy Nutrition plan</h2>
      <div class="modern-equipment-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio
        dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque
        ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur
        eligendi.
      </div>
    </div>
    <div
      class="col-12 col-md-3 modern-equipment"
      data-aos="flip-left"
      data-aos-delay="1000"
    >
      <p><i class="fa-solid fa-user-tie icon"></i></p>
      <h2>Professional training plan</h2>
      <div class="modern-equipment-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio
        dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque
        ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur
        eligendi.
      </div>
    </div>
    <div
      class="col-12 col-md-3 modern-equipment"
      data-aos="flip-left"
      data-aos-delay="1500"
    >
      <p><i class="fa-solid fa-heart-pulse icon"></i></p>
      <h2>Unique to your needs</h2>
      <div class="modern-equipment-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illo odio
        dolores dolorum iure doloribus numquam aliquid facere reiciendis cumque
        ipsam nisi animi repellendus, aliquam dolor, sunt eos, consequatur
        eligendi.
      </div>
    </div>
  </div>
  <!-- Row 2 Ends -->
  <!-- Row 3 Starts : Our Team-->
  <section class="our-team">
    <div class="title">
      <h4>Our Team</h4>
    </div>

    <div class="card_Container">
      <div class="card" data-aos="zoom-out-down" data-aos-delay="500">
        <div class="imbBx">
          <img src="./img/team/team-1.jpg" alt="" />
        </div>

        <div class="content">
          <div class="contentBx">
            <h3>James Henry <br /><span>Gym Trainer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </li>
            <li style="--i: 3">
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card" data-aos="zoom-out-down" data-aos-delay="1000">
        <div class="imbBx">
          <img src="./img/team/team-2.jpg" alt="" />
        </div>

        <div class="content">
          <div class="contentBx">
            <h3>John Doe <br /><span>Gym Trainer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </li>
            <li style="--i: 3">
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card" data-aos="zoom-out-down" data-aos-delay="1500">
        <div class="imbBx">
          <img src="./img/team/team-3.jpg" alt="" />
        </div>

        <div class="content">
          <div class="contentBx">
            <h3>Mykel Smith <br /><span>Gym Trainer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </li>
            <li style="--i: 3">
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Row 3 Ends -->
</div>
